.clr {
    clear: both;
}

* {
    margin: 0;
    padding: 0;

}

ul,
ol {
    list-style: none;

}

a,
a:hover,
a:focus {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
}

html,
body {
    scroll-behavior: smooth;
}


/*====================================
          sprange css start
======================================*/

#sprange .container .head {
    position: relative;
}



#sprange .container .head .pm {
    color: rgba(155, 155, 155, 1);

    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;



    border-bottom: 2px solid rgba(80, 204, 223, 1);

}
#sprange .container .head span {

    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;

    color: rgba(80, 204, 223, 1);

}

#sprange .container .head .home {


    right: 50px;
    top: 70px;
    position: absolute;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(155, 155, 155, 1);
}


#sprange .container .top {
    display: flex;
}

#sprange .container .top .image {

    width: 15%;
    height: 100px;

}

#sprange .container .top .image img {
    width: 100%;
    height: 100%;

}


#sprange .container .top .name {

    width: 25%;


    display: flex;
    align-items: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(138, 138, 138, 1) !important;
    margin-left: 1.5%;

}


#sprange .container .top .name span {
    font-weight: bold;
    margin-right: 2%;

}

#sprange .container .box {
    margin-top: 20px;
    padding-top: 10px;
  
   


    padding-left: 18px;
    padding-right: 18px;
}


#sprange .container .two{
    padding-bottom: 40px;
}

#sprange .container .box h4 {
    margin: 7px 0;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;

    color: rgba(155, 155, 155, 1);
}

#sprange .container .box .graph {

    background-color: lightgray;
    height: 200px;
}


#sprange .container .row .rec {
    border: 2px solid rgba(155, 155, 155, 1);
    margin-top: 30px;
}

#sprange .container .row .right {
    margin-left: 19%;
    margin-top: 50%;


}


#sprange .container .row .right .btn {

    background-color: rgba(80, 204, 223, 1);
    padding: 10px 60px;
    border: 1px solid rgba(155, 155, 155, 1);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    transition: .4s;
    margin-left: auto;

    transform: translateX(-50%);
    margin-left: 50%;



}


#sprange.container .row .right .btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(155, 155, 155, 1);
}

input[type=text]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 80%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=date]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 80%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}




input[type=text]:focus,
input[type=date]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder,
input[type=date]:placeholder {
    color: #cccccc;
}


form {
    position: relative;
}
form .ccc{
    position: absolute;
    top: 125%;
    right: 7%;
}

form .fir{
    display: flex;
    justify-content: space-between;

}
form .firtwo{
    margin-left: 1.4%;

}

form .fir .bbb{
    display: flex;
}

form .fir .bbb h5{
    line-height: 2.9;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;

    color: rgba(155, 155, 155, 1);
}



input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #56baed;
    border:1px solid transparent;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 15px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: white;
    color:rgba(155, 155, 155, 1);
    cursor: pointer;
    border:1px solid rgba(155, 155, 155, 1);
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}