<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 m-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" name="email" class="form-control"  placeholder="Email Address...">
                  <button type="submit" class="btn btn-primary mt-2">Send Email</button>
                </div>
            </form>

        </div>
    </div>
</div>
